<!-- Page Ttile and Nav Bar -->
<header>
    <h1>HOME</h1>
</header>
<nav>
    <!--  WORK IN PROGRESS, will most likely have to change the hrefs to correct file names. -->
    <a href="/">Home</a> 
    <a href="customers.hbs">Customers</a> 
    <a href="/employees">Employees</a> 
    <a href="/products">Products</a> 
    <a href="sales_orders.hbs">Sales Orders</a>
    <a href="orderProducts.html">Order Products</a>
</nav>