<!-- Page Ttile and Nav Bar -->
<header>
    <h1>SALES ORDERS</h1>
</header>
<nav>
    <!--  WORK IN PROGRESS, will most likely have to change the hrefs to correct file names. -->
    <a href="/">Home</a> 
    <a href="/customers">Customers</a> 
    <a href="/employees">Employees</a> 
    <a href="/products">Products</a> 
    <a href="/sales_orders">Sales Orders</a>
    <a href="/order_products">Order Products</a>
</nav>


<h2>WORK IN PROGRESS</h2>